{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
<main class="main">
    <div class="main__wrapper">
        <div class="about-video">
            <video class="video" src="{% static 'main/videos/about/about.mp4' %}" autoplay loop muted></video>
        </div>
        <div class="about-main-part">
            <h1>Mikond LIGHTING IS A BOHEMIAN DESIGNER AND PRODUCER OF DECORATIVE LIGHTING FIXTURES, GLASS OBJECTS
                AND ARCHITECTURAL FEATURES.</h1>
        </div>
        <div class="about-image-container">
            <div class="image-text">
                <span class="about-title">Mikond
                    <span class="about-text">
                        IS A <br>
                        CREATOR OF UNIQUE <br>
                        BESPOKE LIGHTING AND <br>
                        ARCHITECTURAL ART <br>
                        INSTALLATIONS.
                    </span>
                    <br>
                    <span class="about-bottom">
                        Shaped by impeccable design and desire for modernity, we value, above
                        all, innovation and technology.
                    </span>
                </span>
            </div>
        </div>
        <div class="about-image-container-left">
            <div class="image-text">
                <span class="about-title">A FASCINATION
                    <span class="about-text">
                        WITH <br>
                        LIGHT AND AN ARTISAN <br>
                        TOUCH IS AT THE CORE <br>
                        OF OUR WORK.
                    </span>
                    <br>
                    <span class="about-bottom">
                        We are here to allow you the freedom to realize your dreams.
                    </span>
                </span>
            </div>
        </div>
        <div class="about-image-container-center">
            <div class="image-text">
                <span class="about-title">Ms. Sharipa Yakubovna,
                    <span class="about-text">
                        Our founder possessed an extraordinary knack for envisioning captivating
                        chandeliers that would leave an indelible impression.
                        With an unwavering focus on this luminary artistry,
                        our business flourishes as a beacon of innovation in the world of exquisite chandeliers.
                    </span>
                    <br>
                </span>
                </span>
            </div>
            <div class="image">
                <img src="{% static 'main/images/about/mssharipayakubovna.jpg' %}" alt="">
            </div>
        </div>
        <div class="loop-container">
            <div class="loop-column">
                <video src="{% static 'main/videos/about/about2.mp4' %}" autoplay loop muted></video>
            </div>
            <div class="loop-column">
                <h1 class="loop-title">UNDERSTANDING LIGHT</h1>
                <p class="loop-text">
                    Technological advances are at our core. Light, design, innovation, and craft help us create,
                    capture your heart and realize your dreams.
                </p>
                <div class="loop-text-container">
                    <div class="loop-text-column">
                        <span class="loop-column-title">Lighting Specialist
                            <span class="loop-column-text">
                                – our team knows
                                light inside and out. We can tackle the
                                most complex lighting projects. With
                                dynamic and interactive lighting features
                                and the latest technology, we offer truly
                                innovative solutions in creating the best
                                ambiance through light.
                            </span>
                        </span>
                    </div>
                    <div class="loop-text-column">
                        <span class="loop-column-title-second">Nano Expert
                            <span class="loop-column-text">
                                – did you know light can
                                shine through metal? For years we have
                                been developing innovative nano-coating
                                processes that allow glass and metal to
                                come together in a perfect symbiosis. And
                                our expertise does not stop at glass
                                surfaces – we have designed and coated
                                3D printedinstallations too.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="craft">
            <h1>CRAFT & INNOVATION</h1>
        </div>
    </div>
</main>
{% endblock %}