{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

{% block title%}<title>Mikond - Catalog</title>{% endblock %}
<main class="main">
    <div class="main-container">
        <section class="product-section">
            <div class="product-container">
                <div class="product-first-container">
                    <div class="product-first-image-container">
                        <div class="product-first-image-column">
                            <h1 class="product-first-title">{{ service_first.title }}</h1>
                            <h2 class="product-first-short-description">
                                {{ service_first.short_detail }}
                            </h2>
                            <img src="{{ service_first.image.url }}" alt="">
                        </div>
                        <div class="product-first-detail">
                            <h1 class="product-first-detail-title">
                                {{ service_first.title }}
                            </h1>
                            <p class="product-first-detail-text">
                                {{ service_first.detail }}
                            </p>
                        </div>
                    </div>
                    <div class="product-first-text-container">
                        <h2 class="product-first-types">Варианты отделки</h2>
                        <ul class="product-first-type-container">
                            {% for option in service_first.options.all %}
                            <li class="product-first-type-list">{{ option.name }}</li>
                            {% endfor %}
                        </ul>
                        <h2 class="product-first-standart">Стандартная комплектация</h2>
                        <div class="product-first-standart-wrapper">
                            <ul class="product-first-standart-container">
                                {% for standart in service_first.standard_equipment.all %}
                                <li class="product-first-standart-list">{{ standart.name }}</li>
                                {% endfor %}
                            </ul>
                            {% if services|length > 1 %}
                            <div class="product-slider-column first">
                                <img src="{{ services.1.image.url }}" alt="">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="product-slider-container">
                    {% for service in services %}
                        {% if forloop.counter >= 3 and forloop.counter <= 4 %}
                        <a href="{% url 'main:catalog' %}">
                            <div class="product-slider-column">
                                <h1 class="product-slider-title">{{ service.title }}</h1>
                                <p class="product-slider-short-description">
                                    {{ service.short_detail }}
                                </p>
                                <div class="product-image-column">
                                    <img src="{{ service.image.url }}" alt="">
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}