{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

{% block title%}<title>Mikond - Catalog</title>{% endblock %}
<main class="main">
    <div class="main-container">
        <section class="product-section">
            <div class="product-container">
                <div class="product-slider-container">
                    {% for service in object_list %}
                    <a href="{% url 'main:service' pk=service.pk %}">
                        <div class="product-slider-column">
                            <h1 class="product-slider-title">{{ service.title }}</h1>
                            <p class="product-slider-short-description">
                                {{ service.short_detail }}
                            </p>
                            <div class="product-image-column">
                                <img src="{{ service.image.url }}" alt="">
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}