{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
<section class="contact_body">
    <div class="reMax">
        <div class="contact_info">

            <div class="contact_information">
                <div class="info_group">
                    <div class="c_icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="c_text">
                        <h2>Address</h2>
                        <p>20, Somewhere in world</p>
                    </div>
                </div>
                <div class="info_group">
                    <div class="c_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="c_text">
                        <h2>Mail</h2>
                        <p>ucomuz@gmail.com</p>
                    </div>
                </div>
                <div class="info_group">
                    <div class="c_icon">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="c_text">
                        <h2>Phone</h2>
                        <p>+998 90 966 48 04</p>
                    </div>
                </div>
            </div>

            <div class="contact_form">
                <form class="contact__form" method="POST">
                    {% csrf_token %}
                    <div class="form_group">
                        <div class="input_control">
                            <input type="text" placeholder="Your Name" name="name">
                            <input type="email" placeholder="Your Email" name="email">
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="input_control">
                            <textarea type="text" placeholder="Write your message here" class="textinput" name="message"></textarea>
                        </div>
                    </div>
                    <div class="form_group" style="display: flex; justify-content: center;">
                        <button class="btn px-5" style="background-color: #FFCC00; border: none;">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</section>

{% endblock %}