{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
<main class="main">
    <div class="main__wrapper">
        <div class="contact__wrapper">
            <div class="container-user">
                <div class="user-container">
                    <div class="user-text-container">
                        <div class="user-text-column">
                            <h1 class="user-text">Created at: </h1>
                            <span>{{ object.created_at|date:"d F Y f" }}</span>
                            <h1 class="user-text">User: </h1>
                            <span>{{ object.user }}</span>
                            <h1 class="user-text">Name: </h1>
                            <span>{{ object.name }}</span>
                            <h1 class="user-text">Email: </h1>
                            <a href="mailto:{{ object.email }}"><span>{{ object.email }}</span></a>
                            <h1 class="user-text">Message: </h1>
                            <span>{{ object.message }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}