{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/chat.html' %}

{% block title%}<title>Mikond - Homepage</title>{% endblock %}
<main class="main index">
    <div class="main-container">
        <section class="main-section">
            <div class="main-text-container">
                <h1 class="main-title first fade fadeInRight" data-wow-duration="0.8s">БРА</h1>
                <h1 class="main-title fade fadeInRight" data-wow-duration="1.2s">ЛЮСТРЫ</h1>
                <h1 class="main-title fade fadeInRight" data-wow-duration="1.6s">СВЕТИЛЬНИКИ</h1>
                <div class="main-icon-container">
                    <div class="main-icon fade fadeInUp">
                        <i class="fa-solid fa-gear"></i>
                        <h2 class="main-icon-text">
                            Свое производство
                        </h2>
                    </div>
                    <div class="main-icon fade fadeInUp">
                        <i class="fa-solid fa-plane-departure"></i>
                        <h2 class="main-icon-text">
                            Доставка в любую точку мира
                        </h2>
                    </div>
                </div>
            </div>
            <div class="main-part-image-container fade fadeInRight">
                <img src="{% static 'main/images/main-page/mainImage.png' %}" alt="">
            </div>
        </section>

        <section class="quality-section">
            <div class="quality-container">
                <h1 class="quality-title fade fadeInUp">ЛЮБАЯ ЛЮСТРА НА ЗАКАЗ</h1>
                <div class="quality-img-container" data-wow-duration="1s">
                    <img src="{% static 'main/images/main-page/chandelier.png' %}" alt="">
                </div>
                <div class="quality-types-container">
                    <div class="quality-types-column">
                        <i class="fa-regular fa-gem fade fadeInDown"></i>
                        <h2 class="quality-types-text fade fadeInUp">Качественная хрусталь</h2>
                    </div>
                    <div class="quality-types-column">
                        <i class="fa-solid fa-bolt fade fadeInDown"></i>
                        <h2 class="quality-types-text fade fadeInUp">Прочный металл</h2>
                    </div>
                    <div class="quality-types-column">
                        <i class="fa-solid fa-shield fade fadeInDown"></i>
                        <h2 class="quality-types-text fade fadeInUp">Устойчивые крепления</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="bra-section">
            <div class="bra-container">
                <div class="bra-text-column fade fadeInLeft">
                    <h1 class="bra-title">БРА</h1>
                    <p class="bra-text">
                        Бра (от французского bras): Это осветительное устройство, устанавливаемое на стену <br><br>
                        Обычно
                        состоящее из основания, которое крепится к стене, и светильника или плафона, который направлен
                        вверх, вниз или в сторону.
                    </p>
                </div>
                <div class="bra-image-column fade fadeInRight">
                    <img src="{% static 'main/images/main-page/bra.png' %}" alt="">
                </div>
            </div>
        </section>

        <section class="lamps-section">
            <div class="lamps-container">
                <div class="lamps-image-column fade fadeInLeft">
                    <img src="{% static 'main/images/main-page/lamp.png' %}" alt="">
                </div>
                <div class="lamps-text-column fade fadeInRight">
                    <h1 class="lamps-title">Светильники</h1>
                    <p class="lamps-text">
                        Светильник - это функциональное осветительное устройство, которое используется для распределения
                        света в помещении. Он может иметь различные формы и размеры, от потолочных люстр до настольных
                        ламп.
                        <br><br>
                        Светильники играют важную роль в создании атмосферы и освещении различных зон помещения,
                        обеспечивая
                        комфорт и функциональность в повседневной жизни.
                    </p>
                </div>
            </div>
        </section>

        <section class="product-section">
            <div class="product-container">
                <div class="product-first-container">
                    <div class="product-first-image-container">
                        <div class="product-first-image-column fade fadeInLeft">
                            <h1 class="product-first-title">{{ service_first.title }}</h1>
                            <h2 class="product-first-short-description">
                                {{ service_first.short_detail }}
                            </h2>
                            <img src="{{ service_first.image.url }}" alt="">
                        </div>
                        <div class="product-first-detail fade fadeInRight">
                            <h1 class="product-first-detail-title">
                                {{ service_first.title }}
                            </h1>
                            <p class="product-first-detail-text">
                                {{ service_first.detail }}
                            </p>
                        </div>
                    </div>
                    <div class="product-first-text-container">
                        <h2 class="product-first-types fade fadeInDown">Варианты отделки</h2>
                        <ul class="product-first-type-container">
                            {% for option in service_first.options.all %}
                            <li class="product-first-type-list fade fadeInLeft">{{ option.name }}</li>
                            {% endfor %}
                        </ul>
                        <h2 class="product-first-standart fade fadeInDown">Стандартная комплектация</h2>
                        <div class="product-first-standart-wrapper">
                            <ul class="product-first-standart-container">
                                {% for standart in service_first.standard_equipment.all %}
                                <li class="product-first-standart-list fade fadeInLeft">{{ standart.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product-slider-container">
                    {% for service in services %}
                        {% if forloop.counter >= 3 and forloop.counter <= 4 %} 
                            <a href="{% url 'main:service' pk=service.pk %}">
                                <div class="product-slider-column">
                                    <h1 class="product-slider-title fade fadeInDown">{{ service.title }}</h1>
                                    <p class="product-slider-short-description fade fadeInDown">
                                        {{ service.short_detail }}
                                    </p>
                                    <div class="product-image-column fade fadeInDown">
                                        <img src="{{ service.image.url }}" alt="">
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
