{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/chat.html' %}

{% block title%}<title>Mikond - Our works</title>{% endblock %}
<main class="main ourwork">
    <div class="main-container">
        <section class="ourwork-video-section">
            <div class="ourwork-video-container fade fadeInDown">
                <h1 class="ourwork-video-title">Наши работы</h1>
                <video src="{% static 'main/videos/ourworksVideo2.mp4' %}" class="ourwork-video" autoplay muted loop>
                </video>
            </div>
        </section>

        <section class="ourwork-list-section">
            <div class="ourwork-list-container">
                {% for object in our_works %}
                <a href="{% url 'main:ourworksdetail' pk=object.pk %}" class="ourwork-list-column">
                    <div class="ourwork-list-image-container fade fadeInUp">
                        <img src="{{ object.preview_image.url }}" alt="">
                    </div>
                    <h1 class="ourwork-list-title fade fadeInUp">{{ object.title }}</h1>
                    <p class="ourwork-list-text fade fadeInUp">{{ object.short_description }}</p>
                </a>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}