{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


{% block title%}<title>Mikond - Service - {{ object.title }}</title>{% endblock %}
<main class="main">
    <div class="main-container">
        <section class="product-section">
            <div class="product-container">
                <div class="product-first-container">
                    <div class="product-first-image-container">
                        <div class="product-first-image-column fade fadeInLeft">
                            <h1 class="product-first-title">{{ object.title }}</h1>
                            <h2 class="product-first-short-description">
                                {{ object.short_detail }}
                            </h2>
                            <img src="{{ object.image.url }}" alt="">
                        </div>
                        <div class="product-first-detail fade fadeInRight">
                            <h1 class="product-first-detail-title">
                                {{ object.title }}
                            </h1>
                            <p class="product-first-detail-text">
                                {{ object.detail }}
                            </p>
                        </div>
                    </div>
                    <div class="product-first-text-container">
                        <h2 class="product-first-types fade fadeInDown">Варианты отделки</h2>
                        <ul class="product-first-type-container">
                            {% for option in object.options.all %}
                            <li class="product-first-type-list fade fadeInLeft">{{ option.name }}</li>
                            {% endfor %}
                        </ul>
                        <h2 class="product-first-standart fade fadeInDown">Стандартная комплектация</h2>
                        <div class="product-first-standart-wrapper">
                            <ul class="product-first-standart-container">
                                {% for standart in object.standard_equipment.all %}
                                <li class="product-first-standart-list fade fadeInLeft">{{ standart.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product-slider-container">
                    {% for service in services %}
                        {% if forloop.counter >= 2 and forloop.counter < 4 %} 
                            <a href="{% url 'main:service' pk=service.pk %}">
                                <div class="product-slider-column">
                                    <h1 class="product-slider-title fade fadeInDown">{{ service.title }}</h1>
                                    <p class="product-slider-short-description fade fadeInDown">
                                        {{ service.short_detail }}
                                    </p>
                                    <div class="product-image-column fade fadeInDown">
                                        <img src="{{ service.image.url }}" alt="">
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}