{% load static %}
<footer class="footer">
    <div class="footer-column">
        <h1 class="footer-title">Delight in creation.</h1>
        {% for object in logos %}
            <img src="{{ object.logo.url }}" alt="">
        {% endfor %}
    </div>
    <div class="footer-column">
        <div class="column-text">
            <ul>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'collections' %}">Collections</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% else %}
                <li><a href="{% url 'signin' %}">Contact</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="column-links">
            <div><a href=""><i class="fab fa-instagram"></i></a></div>
            <div><a href="https://www.facebook.com/lustraoniks?mibextid=LQQJ4d"><i class="fab fa-facebook"></i></a></div>
            <div><a href="https://t.me/mikondcom"><i class="fab fa-telegram"></i></a></div>
            <div><a href=""><i class="fab fa-youtube"></i></a></div>
            <div><a href=""><i class="fab fa-twitter"></i></a></div>
        </div>
    </div>
    <div class="footer-column">
        <p class="column-info">
            Mikond Lighting is a Bohemian designer and producer of decorative lighting fixtures, glass objects and
            architectural features.
        </p>
        <div class="links-container">
            <a href="" class="links">Newsletter subscription</a>
            <a href="" class="links">Contact details</a>
            <a href="" class="links">Downloads</a>
        </div>
    </div>
</footer>