{% load static %}
<footer class="footer" id="footer">
    <div class="footer-container">
        <h1 class="footer-title fade fadeInLeft">СВЯЗАТЬСЯ С НАМИ</h1>
        <div class="footer-links-container">
            <ul class="footer-links-wrapper">
                <li class="footer-link">
                    <h2 class="footer-link-title fade fadeInDown">Facebook</h2>
                    <h2 class="footer-link-object fade fadeInDown">@mikond</h2>
                </li>
                <li class="footer-link">
                    <h2 class="footer-link-title fade fadeInDown">Почта</h2>
                    <a class="footer-link-object" href="mailto:mikond@gmail.com"><h2 class="footer-link-object fade fadeInDown">mikond@gmail.com</h2></a>
                </li>
                <li class="footer-link">
                    <h2 class="footer-link-title fade fadeInDown">Телеграмм</h2>
                    <a class="footer-link-object" href="https://t.me/mikondcom" target="_blank"><h2 class="footer-link-object fade fadeInDown">@mikondcom</h2></a>
                </li>
                <li class="footer-link">
                    <h2 class="footer-link-title fade fadeInDown">Наш адрес</h2>
                    <h2 class="footer-link-object fade fadeInDown">Ташкент</h2>
                </li>
            </ul>
            <div class="footer-contact">
                <h2 class="footer-contact-title fade fadeInRight">Телефон</h2>
                <a href="tel:+998938000055" class="footer-contact-number">
                    <h2 class="footer-contact-number fade fadeInRight">+998938000055</h2>
                </a>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom-logo fade fadeInUp">
                <img src="{% static 'main/images/main-page/logo.png' %}" alt="">
            </div>
            <div class="footer-bottom-created fade fadeInUp">
                <h1 class="footer-bottom-created-text">1996-2024</h1>
            </div>
            <div class="footer-bottom-creators fade fadeInUp">
                <a href="https://devcybercode.com/" target="_blank" class="footer-bottom-creators-text">devcybercode.com</a>
            </div>
        </div>
    </div>
</footer>