{% load static %}
<footer class="footer">
    <div class="footer-container">
        <h1 class="footer-title">СВЯЗАТЬСЯ С НАМИ</h1>
        <div class="footer-links-container">
            <ul class="footer-links-wrapper">
                <li class="footer-link">
                    <h2 class="footer-link-title">Facebook</h2>
                    <h2 class="footer-link-object">@mikond</h2>
                </li>
                <li class="footer-link">
                    <h2 class="footer-link-title">Почта</h2>
                    <a class="footer-link-object" href="mailto:mikond@gmail.com">mikond@gmail.com</a>
                </li>
                <li class="footer-link">
                    <h2 class="footer-link-title">Телеграмм</h2>
                    <h2 class="footer-link-object">@mikond</h2>
                </li>
                <li class="footer-link">
                    <h2 class="footer-link-title">Наш адрес</h2>
                    <h2 class="footer-link-object">Ташкент</h2>
                </li>
            </ul>
            <div class="footer-contact">
                <h2 class="footer-contact-title">Телефон</h2>
                <a href="tel:+998938000055" class="footer-contact-number">
                    +998938000055
                </a>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom-logo">
                <img src="{% static 'main/images/main-page/logo.png' %}" alt="">
            </div>
            <div class="footer-bottom-created">
                <h1 class="footer-bottom-created-text">1996-2024</h1>
            </div>
            <div class="footer-bottom-creators">
                <a href="https://devcybercode.com/" class="footer-bottom-creators-text">devcybercode.com</a>
            </div>
        </div>
    </div>
</footer>