{% load static %}
<header class="header" id="main-header">
    <nav class="header-nav">
        <div class="header-logo-container">
            <a href="/">
                <img src="{% static 'main/images/main-page/logo.png' %}" alt="">
            </a>
        </div>
        <div class="header-social-icons">
            <a href="https://www.instagram.com/mikond_lyustra?igsh=MW1saDhmejVkamhudQ%3D%3D&utm_source=qr" target="_blank" class="header-social-icon-link">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://wa.me/+998938000055" target="_blank" class="header-social-icon-link">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
            <a href="https://t.me/mikondcom" target="_blank" class="header-social-icon-link">
                <i class="fa-brands fa-telegram"></i>
            </a>
            <a href="https://www.facebook.com/lustraoniks" target="_blank" class="header-social-icon-link">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
        <div class="header-links-container" id="header-links-container">
            <ul class="header-links-wrapper">
                <li class="header-link"><a href="{% url 'main:catalog' %}">Каталог</a></li>
                <li class="header-link"><a href="{% url 'main:ourworks' %}">Наши работы</a></li>
            </ul>
            <div class="header-call-btn-container">
                <a href="tel:+998938000055" class="header-call-btn">
                    <i class="fa-solid fa-phone"></i>
                </a>
            </div>
        </div>
        <div class="header-burger-container">
            <button class="header-burger" id="header-burger">
                <!-- Open icon -->
                <i class="open fa-solid fa-bars-staggered"></i>

                <!-- Close icon -->
                <i class="close fa-solid fa-xmark"></i>
            </button>
        </div>
    </nav>
</header>
