h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li,
ul,
address,
i,
strong {
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

* {
  scroll-behavior: smooth !important;
}

@media screen and (min-width: 2300px) {
  .main,
  .footer {
    width: 100rem;
    margin-inline: auto;
  }

  .main {
    padding-inline: calc(50% - 40rem);
  }
}