@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main {
  padding: 10rem 1rem;
}

.main.index {
  padding: 0 0 5rem 0;
}

.main-title {
  background: linear-gradient(182.31deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 4rem;
  font-family: var(--roboto);
  width: min(100%, 40rem);
}
.main-title.first {
  margin-top: 5rem;
}

.main-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 0rem 0rem 5rem;
}

.main-icon-container {
  display: flex;
  gap: 3rem;
  margin-top: 5rem;
  width: fit-content;
}

.main-icon .main-icon-text {
  font-family: var(--roboto);
}
.main-icon i,
.main-icon .main-icon-text {
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  width: min(100%, 11.5rem);
}
.main-icon i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.main-part-image-container {
  position: relative;
  margin-top: -7rem;
}
.main-part-image-container img {
  width: 35rem;
  height: 100%;
  object-fit: contain;
}
.main-part-image-container::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 15rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 300px;
  filter: blur(150px);
  background: radial-gradient(78.23% 118.73% at 100% 73%, rgb(255, 255, 255) 0.312%, rgb(255, 226, 164) 59.229%, rgb(255, 212, 124) 100%);
}

@media screen and (max-width: 1450px) {
  .main-part-image-container img {
    width: 28rem;
  }
  .main-part-image-container::after {
    width: 15rem;
    height: 10rem;
  }
}
@media screen and (max-width: 1280px) {
  .main-title {
    font-size: 3.5rem;
  }
  .main-section {
    padding-inline: 1rem 0;
  }
  .main-part-image-container img {
    width: 25rem;
  }
  .main-part-image-container::after {
    width: 10rem;
    height: 5rem;
  }
}
@media screen and (max-width: 1080px) {
  .main-title {
    filter: drop-shadow(3px 3px 10px var(--extra-dark));
    background: linear-gradient(182.31deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .main-part-image-container {
    position: absolute;
    right: 1rem;
    top: 4rem;
    z-index: -1;
    opacity: 0.9;
  }
  .main-part-image-container img {
    width: 25rem;
  }
  .main-part-image-container::after {
    width: 15rem;
    height: 10rem;
  }
}
@media screen and (max-width: 550px) {
  .main-title {
    font-size: 3rem;
  }
  .main-icon-container {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .main-title {
    font-size: 2.75rem;
  }
  .main-part-image-container img {
    width: 20rem;
  }
}
@media screen and (max-width: 450px) {
  .main-title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .main-part-image-container img {
    width: 20rem;
  }
}
.quality-section {
  margin-top: 10rem;
}

.quality-title {
  background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--roboto);
  padding-inline: 0.5rem;
}

.quality-img-container {
  position: relative;
  width: min(100%, 110rem);
  height: 100%;
  margin: -10rem auto 0;
  z-index: -1;
}
.quality-img-container::after {
  content: "";
  position: absolute;
  width: min(100%, 50rem);
  height: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 300px;
  filter: blur(150px);
  background: radial-gradient(78.23% 118.73% at 100% 73%, rgb(255, 255, 255) 0.312%, rgb(255, 226, 164) 59.229%, rgb(255, 212, 124) 100%);
}
.quality-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.quality-types-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: -10rem;
  padding-inline: 1rem;
}

.quality-types-column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.quality-types-column i {
  font-size: 2rem;
  color: var(--white);
}
.quality-types-column .quality-types-text {
  font-size: 1.25rem;
  color: var(--white);
  width: min(100%, 10rem);
  font-family: var(--roboto);
}

@media screen and (max-width: 1200px) {
  .quality-title {
    font-size: 3.5rem;
  }
  .quality-img-container {
    position: relative;
    margin: -5rem auto 0;
  }
  .quality-types-container {
    margin-top: -5rem;
  }
}
@media screen and (max-width: 1080px) {
  .quality-section {
    margin-top: 10rem;
  }
  .quality-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 850px) {
  .quality-section {
    margin-top: 15rem;
  }
  .quality-types-container {
    gap: 2rem;
    margin-top: -3rem;
  }
  .quality-types-column {
    gap: 1rem;
  }
  .quality-types-column i {
    font-size: 1.5rem;
  }
  .quality-types-column .quality-types-text {
    text-align: center;
    font-size: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .quality-types-column {
    flex-flow: column;
  }
}
@media screen and (max-width: 500px) {
  .quality-title {
    font-size: 2.5rem;
  }
  .quality-types-column i {
    font-size: 1.25rem;
  }
  .quality-types-column .quality-types-text {
    font-size: 0.9rem;
  }
  .quality-types-container {
    gap: 2rem;
    margin-top: -3rem;
  }
}
.bra-section,
.lamps-section {
  margin-top: 4rem;
  padding-inline: 1rem;
}

.bra-container,
.lamps-container {
  display: flex;
  justify-content: space-between;
}

.bra-text-column {
  width: min(100%, 40rem);
  padding: 10rem 0 0 3rem;
}

.lamps-text-column {
  width: min(100%, 40rem);
  padding-top: 5rem;
}

.bra-title,
.lamps-title {
  background: linear-gradient(184.67deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 4rem;
  font-family: var(--roboto);
  margin-bottom: 1.5rem;
}

.bra-text,
.lamps-text {
  color: var(--white);
  font-family: var(--roboto);
  font-size: 1.35rem;
  font-weight: 100;
}

.bra-image-column {
  position: relative;
}
.bra-image-column img {
  width: 30rem;
  height: 100%;
  object-fit: contain;
}
.bra-image-column::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 12rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 300px;
  filter: blur(150px);
  background: radial-gradient(78.23% 118.73% at 100% 73%, rgb(255, 255, 255) 0.312%, rgb(255, 226, 164) 59.229%, rgb(255, 212, 124) 100%);
}

.lamps-image-column {
  position: relative;
}
.lamps-image-column img {
  width: 25rem;
  height: 100%;
  object-fit: contain;
}
.lamps-image-column::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 12rem;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 300px;
  filter: blur(150px);
  background: radial-gradient(78.23% 118.73% at 100% 73%, rgb(255, 255, 255) 0.312%, rgb(255, 226, 164) 59.229%, rgb(255, 212, 124) 100%);
}

@media screen and (max-width: 1300px) {
  .bra-image-column img {
    width: 25rem;
  }
  .bra-image-column::after {
    width: 10rem;
    height: 10rem;
  }
  .lamps-image-column img {
    width: 20rem;
  }
  .lamps-image-column::after {
    width: 10rem;
    height: 10rem;
  }
}
@media screen and (max-width: 1024px) {
  .bra-text-column {
    padding-inline: 0;
  }
  .bra-title,
  .lamps-title {
    font-size: 3rem;
  }
  .bra-text,
  .lamps-text {
    color: var(--white);
    font-family: var(--roboto);
    font-size: 1.25rem;
    font-weight: 100;
  }
  .bra-image-column img {
    width: 22.5rem;
  }
  .bra-image-column::after {
    width: 10rem;
    height: 10rem;
  }
  .lamps-image-column img {
    width: 17.5rem;
  }
  .lamps-image-column::after {
    width: 10rem;
    height: 10rem;
  }
}
@media screen and (max-width: 750px) {
  .bra-container {
    flex-flow: column;
  }
  .lamps-container {
    flex-flow: column-reverse;
  }
  .lamps-container img {
    margin-top: 2rem;
  }
  .lamps-image-column,
  .bra-image-column {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .lamps-section {
    margin-top: 1rem;
  }
  .bra-title,
  .lamps-title {
    font-size: 2.5rem;
  }
  .bra-text,
  .lamps-text {
    font-size: 1.125rem;
  }
  .bra-image-column img {
    width: 20rem;
  }
  .bra-image-column::after {
    width: 8rem;
    height: 8rem;
  }
  .lamps-image-column img {
    width: 15rem;
  }
  .lamps-image-column::after {
    width: 8rem;
    height: 8rem;
  }
}
.product-section {
  margin-top: 5rem;
  padding-inline: 3rem;
}

.product-first-image-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.product-first-image-container .product-first-title,
.product-first-image-container .product-first-short-description {
  font-family: var(--roboto);
  color: var(--white);
  font-weight: 300;
}
.product-first-image-container .product-first-title {
  font-size: 2rem;
}
.product-first-image-container .product-first-short-description {
  font-size: 1.125rem;
  margin-block: 1rem 2rem;
}
.product-first-image-container .product-first-image-column {
  width: min(100%, 22rem);
}
.product-first-image-container img {
  width: 100%;
  max-height: 40rem;
  object-fit: contain;
  margin-bottom: 3rem;
}

.product-first-text-container .product-first-types,
.product-first-text-container .product-first-standart {
  color: var(--gray);
  font-family: var(--roboto);
  font-size: 1.5rem;
  font-weight: 400;
}
.product-first-text-container .product-first-standart {
  margin-top: 5rem;
}
.product-first-text-container .product-first-type-container,
.product-first-text-container .product-first-standart-container {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.5rem 5rem;
  width: min(100%, 30rem);
  margin-top: 2rem;
}
.product-first-text-container .product-first-type-list,
.product-first-text-container .product-first-standart-list {
  color: var(--white);
  font-family: var(--roboto);
  line-height: 160%;
  font-size: 1.125rem;
  font-weight: 300;
}

.product-first-standart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-slider-column.first {
  width: 50%;
  margin-top: -13.5rem;
  height: 20rem;
  background: var(--black);
}
.product-slider-column.first img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: var(--black);
  border-radius: 0.5rem;
}

.product-first-detail {
  width: 50%;
}

.product-first-detail-title,
.product-slider-title {
  font-family: var(--roboto);
  color: var(--white);
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 140%;
  width: min(100%, 40rem);
}

.product-first-detail-text,
.product-slider-short-description {
  font-family: var(--roboto);
  color: var(--white);
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 160%;
  margin-top: 2rem;
  width: min(100%, 40rem);
}

.product-slider-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 10rem;
}

.product-slider-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image-column {
  width: 100%;
  height: 20rem;
  margin-top: 3rem;
  flex-shrink: 0;
}
.product-image-column img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: var(--black);
  border-radius: 0.5rem;
}

@media screen and (max-width: 1300px) {
  .product-section {
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .product-slider-container {
    grid-template-columns: 80%;
  }
  .product-first-image-container {
    flex-wrap: wrap;
  }
  .product-first-image-container .product-first-image-column {
    width: 100%;
  }
  .product-first-detail {
    width: 100%;
    margin-bottom: 2rem;
  }
  .product-first-detail .product-first-detail-text {
    width: 100%;
  }
  .product-first-title,
  .product-first-detail-title {
    font-size: 1.5rem !important;
  }
  .product-first-detail-text {
    font-size: 1.125rem;
  }
  .product-first-standart-wrapper {
    flex-flow: column;
    gap: 2rem;
  }
  .product-slider-column.first {
    margin-top: 0;
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .product-first-standart-wrapper .product-first-standart-container,
  .product-first-standart-wrapper .product-first-type-container,
  .product-first-text-container .product-first-standart-container,
  .product-first-text-container .product-first-type-container {
    display: flex;
    flex-wrap: wrap;
  }
  .product-slider-container {
    grid-template-columns: 1fr;
  }
  .product-slider-column.first,
  .product-image-column {
    width: 100%;
    height: 15rem;
  }
  .product-first-types,
  .product-first-standart {
    font-size: 1.5rem !important;
  }
}
.contact-section {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 9;
}

.contact-button {
  display: inline-flex;
  background-color: var(--primary-color);
  border-radius: 999rem;
  gap: 0.5rem;
  color: var(--extra-dark);
  padding: 0.82857rem 1.27143rem;
  letter-spacing: 0.6;
  font-size: 0.9rem;
  font-family: var(--roboto);
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.contact-button i {
  font-size: 1rem;
}

.contact-form {
  display: none;
  position: absolute;
  bottom: 4rem;
  right: 0;
  background-color: var(--white);
  border-radius: 0.5rem;
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.428571rem 0px;
}

.contact-form-close {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.contact-form-title {
  color: var(--extra-dark);
  font-family: var(--roboto);
  text-align: center;
  width: 100%;
  background: var(--primary-color);
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid #ececec;
}

.contact-form-text {
  font-size: 0.8rem;
  font-family: var(--roboto);
  color: var(--extra-dark);
  width: min(100%, 20rem);
  margin-bottom: 1rem;
}

.contact-form-close {
  margin-top: 0.5rem;
  padding-right: 0.5rem;
}

.contact-form-container {
  padding: 1rem;
  height: 20rem;
  overflow-y: auto;
}

.contact-form-column {
  display: flex;
  flex-flow: column;
}
.contact-form-column label {
  font-family: var(--roboto);
  color: var(--extra-dark);
  font-size: 0.8rem;
  margin-block: 1rem 0.5rem;
  font-weight: 500;
}
.contact-form-column label.first {
  margin-top: 0;
}
.contact-form-column .contact-form-input,
.contact-form-column textarea {
  appearance: none;
  transition: border-color 0.25s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s, background-color 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s, z-index 0.25s ease-in-out 0s;
  border: 1px solid rgb(216, 220, 222);
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.8rem;
  min-height: 2rem;
  line-height: 1.28571;
  font-size: 0.7rem;
  background-color: rgb(255, 255, 255);
  color: rgb(47, 57, 65);
  cursor: auto;
  outline: none;
}
.contact-form-column .contact-form-input:hover, .contact-form-column .contact-form-input:focus,
.contact-form-column textarea:hover,
.contact-form-column textarea:focus {
  box-shadow: rgba(153, 153, 153, 0.4) 0px 0px 0px 0.214286rem;
  border-color: rgb(104, 115, 125);
}
.contact-form-column textarea {
  min-height: 5rem;
  max-width: 100%;
  min-width: 100%;
  max-height: 20rem;
}

.contact-submit-btn-container {
  display: flex;
  justify-content: end;
  padding: 1rem;
  border-top: 1px solid #ececec;
}

.contact-submit-btn {
  background-color: var(--primary-color);
  color: var(--extra-dark);
  border-color: var(--primary-color);
  padding: 0 1.07143em;
  height: 2.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: none;
  font-size: 0.7rem;
}

.contact-form-column:has(.errorlist) input,
.contact-form-column:has(.errorlist) select,
.contact-form-column:has(.errorlist) textarea {
  border-color: rgb(204, 51, 64);
}

.errorlist {
  margin: 0.25rem;
}
.errorlist li {
  color: rgb(204, 51, 64);
  font-family: var(--roboto);
  font-size: 0.9rem;
}

@media screen and (max-width: 450px) {
  .contact-form-title,
  .contact-form-close {
    font-size: 1.1rem;
  }
  .contact-form-text {
    font-size: 1rem;
  }
  .contact-form-column label {
    font-size: 1.1rem;
  }
  .contact-form-column .contact-form-input,
  .contact-form-column textarea {
    font-size: 1rem;
  }
  .contact-submit-btn {
    font-size: 1rem;
  }
  .errorlist li {
    font-size: 1rem;
  }
}
.main.ourwork {
  padding: 0;
}

.ourwork-video-container {
  position: relative;
  width: 100%;
  height: 30rem;
}
.ourwork-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}

.ourwork-video-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--roboto);
  z-index: 1;
  width: 100%;
  padding-inline: 1rem;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .ourwork-video-container {
    height: 22.5rem;
  }
  .ourwork-video-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .ourwork-video-container {
    height: 20rem;
  }
  .ourwork-video-title {
    font-size: 2.5rem;
  }
}
.ourwork-list-section {
  margin-block: 5rem;
  padding-inline: 1rem;
}

.ourwork-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 0.5rem;
}
@media screen and (max-width: 1024px) {
  .ourwork-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .ourwork-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .ourwork-list-container {
    grid-template-columns: 1fr;
  }
}

.ourwork-list-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.ourwork-list-column:hover img {
  transform: scale(1.1);
}
.ourwork-list-column:hover .ourwork-list-title {
  color: var(--primary-color);
}

.ourwork-list-image-container {
  background-color: var(--black);
  width: 100%;
  height: 15rem;
  overflow: hidden;
}
.ourwork-list-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.ourwork-list-title,
.ourwork-list-text {
  color: var(--white);
  width: min(100%, 30rem);
  text-align: center;
  font-family: var(--roboto);
}

.ourwork-list-title {
  margin-block: 1rem 0.5rem;
  transition: all 0.3s ease;
}

.ourwork-list-text {
  font-weight: 300;
}

.ourwork-list-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-size: 1.25rem;
}

.ourwork-list-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-size: 0.9rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
@media screen and (min-width: 2500px) {
  .modal-content {
    max-width: 80rem;
  }
}

.swiper-close {
  position: absolute;
  top: 2.5rem;
  right: 0;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
  z-index: 10;
}

.swiper-close:hover,
.swiper-close:focus {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.swiper-wrapper {
  display: grid;
  padding-top: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--extra-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 31rem !important;
}
.swiper-slide img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: var(--primary-color) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white) !important;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--primary-color) !important;
}

@media screen and (max-width: 500px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2.25rem !important;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s all;
  z-index: 10;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.header.scrolled:has(.header-links-container) {
  -webkit-backdrop-filter: 0;
  backdrop-filter: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
}

.header-logo-container img {
  width: 3rem;
  height: 3.25rem;
  object-fit: contain;
}

.header-links-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-links-wrapper {
  display: flex;
  gap: 2rem;
}
.header-links-wrapper .header-link {
  font-size: 0.9rem;
  font-family: var(--roboto);
  text-transform: uppercase;
}
.header-links-wrapper .header-link a {
  transition: all 0.5s;
}
.header-links-wrapper .header-link a:hover {
  color: var(--primary-color);
}

.header-call-btn-container {
  display: grid;
  place-items: center;
  background: linear-gradient(63deg, rgb(249, 139, 77) 21%, rgb(236, 207, 148) 80%, rgb(255, 217, 196) 100%);
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
}
.header-call-btn-container .header-call-btn {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.header-call-btn-container .header-call-btn i {
  font-size: 0.9rem;
  color: var(--extra-dark);
}

.header-burger-container {
  display: none;
}

.header-links-container.active {
  display: flex;
}

body {
  height: 200vh;
}

@media screen and (max-width: 500px) {
  body:has(.header-links-container.active) {
    overflow-y: hidden;
  }
  .header-links-container {
    display: none;
  }
  .header-burger-container {
    display: block;
    z-index: 3;
  }
  .header-links-container.active {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0);
    box-shadow: 0 25px 23px rgba(0, 0, 0, 0);
    padding: 1rem;
  }
  .header-links-container.active .header-links-wrapper {
    flex-flow: column;
    justify-content: center;
  }
  .header-links-container.active .header-link {
    font-size: 1.5rem;
    text-align: center;
  }
  .header-links-container.active .header-call-btn-container {
    width: 4rem;
    height: 4rem;
  }
  .header-links-container.active .header-call-btn-container i {
    font-size: 1.5rem;
  }
  .header-burger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.75rem;
  }
  .header-burger .open {
    display: block;
  }
  .header-burger .close {
    display: none;
  }
  .header-nav:has(.header-links-container.active) .header-burger .close {
    display: block;
  }
  .header-nav:has(.header-links-container.active) .header-burger .open {
    display: none;
  }
}
.footer {
  background-color: var(--black);
  padding-block: 3rem 0;
}

.footer-title {
  background: linear-gradient(181.03deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 2.75rem;
  text-transform: uppercase;
  font-family: var(--roboto);
  padding-left: 3rem;
  font-weight: 300;
}

.footer-links-container {
  display: flex;
  gap: 1rem;
  margin-block: 3rem;
  padding-inline: 3rem;
}

.footer-links-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(100%, 40rem);
  gap: 2rem 0.5rem;
}

.footer-link-title,
.footer-link-object,
.footer-contact-title,
.footer-contact-number,
.footer-bottom-created-text,
.footer-bottom-creators-text {
  color: var(--footer-link-title);
  font-family: var(--roboto);
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer-link-object {
  color: var(--white);
}

.footer-contact-number {
  font-size: 2rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(35, 35, 35);
  padding: 0.5rem 3rem;
}

.footer-bottom-logo img {
  width: 3rem;
  height: 3.25rem;
  object-fit: contain;
}

.footer-bottom-created-text,
.footer-bottom-creators-text {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .footer-title {
    padding-left: 1rem;
  }
  .footer-links-container {
    padding-inline: 1rem;
  }
  .footer-bottom {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 750px) {
  .footer-title {
    font-size: 2.5rem;
  }
  .footer-link-title,
  .footer-link-object,
  .footer-contact-title {
    color: var(--footer-link-title);
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .footer-link-object {
    color: var(--white);
  }
  .footer-contact-number {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .footer-links-container {
    display: flex;
    gap: 0.25rem;
  }
  .footer-links-wrapper {
    grid-template-columns: 1fr;
  }
  .footer-title {
    font-size: 2rem;
  }
  .footer-contact {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .footer-contact-number {
    font-size: 1.25rem;
  }
}
:root {
  --body: #121212;
  --black: #000;
  --extra-dark: #121212;
  --primary-color: #FFCF7A;
  --white: #ffffff;
  --gray: #757575;
  --footer-link-title: #949494;
}

:root {
  --roboto: Roboto, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li,
ul,
address,
i,
strong {
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

* {
  scroll-behavior: smooth !important;
}

@media screen and (min-width: 2000px) {
  .main,
  .footer {
    max-width: 2000px;
    margin: 0 auto;
    width: 100vw;
  }
}
@media screen and (min-width: 2500px) {
  .main,
  .footer {
    max-width: 2500px;
  }
}
@media screen and (min-width: 3000px) {
  .main,
  .footer {
    max-width: 3000px;
  }
}
@media screen and (min-width: 3500px) {
  .main,
  .footer {
    max-width: 3500px;
  }
}
@media screen and (min-width: 4000px) {
  .main,
  .footer {
    max-width: 4000px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  outline: none;
}

html {
  padding: 0;
  margin: 0;
}
html body {
  scroll-behavior: smooth;
}
html a {
  text-decoration: none;
  color: var(--white);
}

body {
  margin: 0;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--body);
  overflow-x: hidden;
}

.header {
  grid-area: header;
}

.main {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 90%);
  --fg: hsl(var(--hue), 90%, 10%);
  --trans-dur: 0.3s;
  font-size: calc(16px + 4 * (100vw - 320px) / 960);
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  overflow-x: none;
  background: var(--extra-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/*# sourceMappingURL=global.css.map */
