* {
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
}

.nav {
    height: 54px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.nav-title {
    display: flex;
}

.header-links,
.header-links-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.header-number-container,
.header-mobile-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 5px;

    a {
        color: #000;
    }
}

.header-links,
.header-links-mobile {
    & {
        margin-left: 32px;
        display: flex;
        gap: 5px;
    }

    div {
        & {
            display: grid;
            place-content: center;
            width: 32px;
            height: 32px;
            background: black;
            border-radius: 50%;
        }

        i {
            color: #fff;
        }
    }
}

.header-mobile-number-container {
    margin-top: 1rem;
    display: none;
}

.header-links-mobile {
    display: none;
}

.nav>.nav-header>.nav-title img {
    width: 160px;
    height: 54px;
    margin-left: 22px;
    object-fit: cover;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    font-size: 18px;
    margin-right: 22px;
}

.nav>.nav-links>a,
.nav>.nav-links>h1 {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #555555;
    text-transform: uppercase;
    transition: all .3s;
    font-size: 16px;
    margin: 0;
}

.nav>.nav-links>a:hover,
.nav>.nav-links>h1:hover {
    color: #999999;
}

.nav>#nav-check {
    display: none;
}

@media (max-width: 1285px) {
    .nav {
        height: 100px;
    }
    .nav>.nav-header>.nav-title img {
        width: 150px;
        height: 44px;
        margin: 0.5rem 0 0.5rem 50px;
    }
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        margin-top: 7px;
        cursor: pointer;
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 20px;
        height: 7px;
        border-top: 2px solid #000;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 48px;
        left: 0px;
    }
    .nav>.nav-links>a,
    .nav>.nav-links>h1 {
        display: block;
        width: 100%;
        padding-left: 50px;
        font-size: 14px;
    }
    .nav>.nav-links>a:is(:not(:last-child)),
    .nav>.nav-links>h1 {
        border-bottom: 1px solid grey;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        z-index: 101;
        height: auto;
        overflow-y: auto;
        transition: all 1s;
    }
}

.second-header {
    width: 100%;
}

.second-header a img {
    width: 100%;
    object-fit: contain;
    margin-top: -10px;
}

@media (max-width:1000px) {
    .second-header a img {
        margin-top: 0px;
    }
}

@media screen and (max-width: 660px) {
    .header-links,
    .header-number-container {
        display: none;
    }

    .header-links-mobile,
    .header-mobile-number-container {
        display: flex;
    }

    .nav>.nav-btn>label {
        margin-top: 11px;
    }
}