.main {
    .main__wrapper {
        .video-container {
            & {
                margin-top: 100px;
            }

            .video {
                width: 100%;
                object-fit: cover;
                height: 56vw;
            }
        }

        .image-container {
            & {
                background: #fff;
                display: flex;
                justify-content: space-between;
                margin-bottom: 100px;
            }

            .image-text {
                & {
                    padding-left: 300px;
                    padding-top: 100px;
                    font-family: 'Open Sans', sans-serif;
                }

                h2 {
                    & {
                        text-transform: uppercase;
                        letter-spacing: 0.2px;
                        line-height: 1.1em;
                        font-size: 30px;
                        font-weight: 550;
                    }

                    p {
                        color: #6B90B9;
                        font-weight: 400;
                    }

                    span {
                        font-size: 18px;
                        font-weight: 400;
                        a {
                            color: #000;
                        }
                    }
                }
            }

            .image-img {
                & {
                    min-width: 500px;
                    min-height: 500px;
                    margin-right: 200px;
                }

                .image {
                    background-image: url('../../images/main-page/first-image.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        @media screen and (max-width: 1405px) {
            .image-container {
                & {
                    display: inline-block;
                }

                .image-text {
                    max-width: 100%;
                    background-image: url('../../images/main-page/first-image.jpg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding-top: 500px;

                    h2 {
                        z-index: 5;
                    }
                }

                .image-img {
                    min-width: 0;
                    min-height: 0;

                    .image {
                        display: none;
                        z-index: -1;
                    }
                }
            }

            @media screen and (max-width: 718px) {
                .image-container {
                    & {
                        width: 100%;
                    }

                    .image-text {
                        width: 100%;
                        padding: 0;
                        padding-top: 500px;

                        h2 {
                            z-index: 5;
                            text-align: center;
                            padding: 0;
                            margin: 0;
                        }
                    }

                    .image-img {
                        .image {
                            display: none;
                        }
                    }
                }
            }
        }

        .projects {
            & {
                width: 100%;
            }

            .project-column-first,
            .project-column-second,
            .project-column-third {
                & {
                    display: flex;
                    flex-flow: column;
                    width: 100%;
                    margin-top: -20px;
                    background-image: url(../../images/main-page/project1.webp);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    padding: 100px 0px 550px 300px;
                    font-family: 'Open Sans', sans-serif;
                    color: #fff;
                }

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500;
                    font-size: 40px;
                    letter-spacing: 0.2px;
                    line-height: 0.8em;
                }

                p {
                    font-size: 16px;
                    padding-left: 2px;
                }

                span {
                    padding-left: 2px;
                }
            }

            .project-column-second {
                background-image: url(../../images/main-page/project2.webp);
            }

            .project-column-third {
                background-image: url(../../images/main-page/project3.webp);
            }
        }

        @media screen and (max-width: 850px) {
            .projects {

                .project-column-first,
                .project-column-second,
                .project-column-third {
                    & {
                        padding: 100px 0 550px;
                        align-items: center;
                        justify-content: center;
                    }

                    h1,
                    p {
                        text-align: center;
                    }
                }
            }
        }

        .selected-projects {
            & {
                padding: 50px 0;
                background-color: #f2f2f3;
            }

            .selected-title {
                font-family: 'Open Sans', sans-serif;
                font-size: 21px;
                text-transform: uppercase;
                color: #000000;
                letter-spacing: 0.05em;
                line-height: 1.55em;
                text-align: center;
            }

            .selected-container {
                & {
                    display: grid;
                    grid-template-columns: repeat(3, 406px);
                    place-items: center;
                    place-content: center;
                    gap: 15px;
                    margin-bottom: 100px;
                }

                .selected-column {
                    & {
                        position: relative;
                        display: flex;
                        flex-flow: column;
                        align-items: end;
                        width: 406px;
                        height: 293px;
                        overflow: hidden;
                    }

                    img {
                        & {
                            width: 400px;
                            height: 293px;
                            object-fit: cover;
                        }

                        &:hover {
                            transform: scale3d(1.1, 1.1, 1);
                            transition: transform 0.5s ease-in-out;
                        }
                    }

                    p {
                        position: absolute;
                        color: #fff;
                        font-size: 24px;
                        bottom: 0px;
                        left: 10px;
                    }
                }
            }

            @media screen and (max-width: 1270px) {
                .selected-container {
                    & {
                        display: grid;
                        grid-template-columns: repeat(2, 406px);
                    }
                }
            }

            @media screen and (max-width: 850px) {
                .selected-container {
                    & {
                        display: grid;
                        grid-template-columns: repeat(1, auto);
                    }
                }
            }

            @media screen and (max-width: 435px) {
                .selected-container {
                    .selected-column {
                        width: 96%;
                        margin: 0 2%;
                        img {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}